.hero {
    width: 100%;
    display: flex;
    background-color: $very-Light_gray;
    @include media(mobile-tablet){
        flex-direction: column;
    }
    @include media(desktop-s){
        flex-direction: row;
        align-items: center;
    }
}
.hero_image {
    width: 56%;
    position: relative;
    background-image: url("../assets/images/bg-intro-desktop.svg");
    background-position-x: 12%;
    background-position-y: 63%;
    background-repeat: no-repeat;
    overflow-x: clip;//Puede ser una opción 
    @include media(mobile-tablet){
        width: 100%;
        min-height: 285px;
        background-image: url("../assets/images/bg-intro-mobile.svg");
        background-position: center;
        background-size: cover;
    }
    @include media(tablet){
        min-height: 400px;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: 95%;
        background-image: url("../assets/images/image-mockups.png");
        background-repeat: no-repeat;
        background-position: center bottom;
        @include media(tablet){
            background-size: 56%;
        }
        @include media(desktop-s){
            background-size: 98%;
            height: 120%;
            left: 17%;
        }

    }
    @include media(desktop-s){
        order: 1;
        height: 626px;

    }
}
.hero_text {
    width: 100%;
    padding: 20px;
    padding-bottom: 80px;
    position: relative;
    &--title {
        font-weight: 400;
        color: $dark-blue;
        text-align: center;
        margin-bottom: 20px;
        @include font-size(30px);
        
        @include media(desktop-s){
            text-align: left;
            @include font-size(60px);
        }
    }
    &--paragraph {
        font-weight: 300;
        color: $grayish;
        margin-bottom: 20px;
        @include font-size(18px)
    }
    
    @include media(desktop-s){
        width: 44%;
        padding: 0;
        padding-left: 100px;
    }
}
.hero-button {
    font-weight: 400;
    position: absolute;
    left: 50%;
    padding: 10px 20px;
    transform: translateX(-50%);
    @include font-size(18px);
    @include media(desktop-s){
        left: 18%;
        transform: translate(0);
    }
}