* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
}

/* Media Queries Mixin
**********************/
/* Media Queries Mixin
**********************/
@keyframes fade {
  0% {
    /* height: 0px; */
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    /* height: 100vh; */
    visibility: visible;
  }
}
@keyframes fade-out {
  0% {
    /* height: 100vh; */
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    /* height: 0px;
    */
    visibility: hidden;
  }
}
@media only screen and (min-width: 280px) and (max-width: 992px) {
  .has-fade {
    visibility: hidden;
  }
}

.fade-in {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-duration: 750ms;
  animation-fill-mode: forwards;
}

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .fade-out {
    animation-name: fade-out;
    animation-timing-function: ease-in-out;
    animation-duration: 750ms;
    animation-fill-mode: forwards;
  }
}

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .hide-for-mobile {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .hide-for-dektop, .overlay {
    display: none;
  }
}

.header {
  width: 100%;
  padding: 17px 24px;
  position: relative;
  background-color: white;
  z-index: 8;
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__menu > span {
  display: block;
  width: 32px;
  height: 2px;
  background-color: #2d314d;
  transform-origin: 5px 1px;
  transition: 450ms transform ease;
  cursor: pointer;
}
.header__menu > span:not(:last-child) {
  margin-bottom: 6px;
}
.header__links a {
  text-decoration: none;
  color: #9698a6;
  position: relative;
  transition: color 300ms ease-in;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
@media only screen and (min-width: 992px) {
  .header__links a:not(last-child) {
    margin-left: 34px;
  }
}
@media only screen and (min-width: 992px) {
  .header__links a::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    height: 4px;
    bottom: -30px;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    opacity: 0;
    transition: opacity 300ms ease-in;
  }
  .header__links a:hover {
    color: #2d314d;
  }
  .header__links a:hover::before {
    opacity: 1;
  }
}
.header .open {
  cursor: pointer;
}
.header .open span:first-child {
  transform: rotate(45deg);
}
.header .open span:nth-child(2) {
  opacity: 0;
}
.header .open span:last-child {
  transform: rotate(-45deg);
}

.button {
  padding: 16px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 700;
  background: linear-gradient(to right, #31d35c, #2bb7da);
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.button:hover {
  opacity: 0.7;
}

.hamburger-button {
  cursor: pointer;
}

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .overlay {
    position: absolute;
    width: 100%;
    height: calc(100vh - 58px);
    top: 100%;
    left: 0;
    right: 0;
    background-image: linear-gradient(#2d314d, transparent);
  }
}

@media only screen and (min-width: 280px) and (max-width: 992px) {
  .header__links {
    width: 85%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120%;
    padding: 20px 0;
    align-items: center;
    margin: 0 auto;
    z-index: 9;
    text-align: center;
    border-radius: 4px;
    background-color: white;
  }
}
@media only screen and (min-width: 280px) and (max-width: 992px) {
  .header__links .menu-link {
    padding: 10px 0;
  }
}

.no-scroll {
  overflow: hidden;
}

.hero {
  width: 100%;
  display: flex;
  background-color: #fafafa;
}
@media only screen and (min-width: 280px) and (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
}
@media only screen and (min-width: 992px) {
  .hero {
    flex-direction: row;
    align-items: center;
  }
}

.hero_image {
  width: 56%;
  position: relative;
  background-image: url("../assets/images/bg-intro-desktop.svg");
  background-position-x: 12%;
  background-position-y: 63%;
  background-repeat: no-repeat;
  overflow-x: clip;
}
@media only screen and (min-width: 280px) and (max-width: 992px) {
  .hero_image {
    width: 100%;
    min-height: 285px;
    background-image: url("../assets/images/bg-intro-mobile.svg");
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (min-width: 768px) {
  .hero_image {
    min-height: 400px;
  }
}
.hero_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 95%;
  background-image: url("../assets/images/image-mockups.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media only screen and (min-width: 768px) {
  .hero_image::before {
    background-size: 56%;
  }
}
@media only screen and (min-width: 992px) {
  .hero_image::before {
    background-size: 98%;
    height: 120%;
    left: 17%;
  }
}
@media only screen and (min-width: 992px) {
  .hero_image {
    order: 1;
    height: 626px;
  }
}

.hero_text {
  width: 100%;
  padding: 20px;
  padding-bottom: 80px;
  position: relative;
}
.hero_text--title {
  font-weight: 400;
  color: #2d314d;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 2.8125rem;
}
@media only screen and (min-width: 992px) {
  .hero_text--title {
    text-align: left;
    font-size: 60px;
    font-size: 3.75rem;
    line-height: 5.625rem;
  }
}
.hero_text--paragraph {
  font-weight: 300;
  color: #9698a6;
  margin-bottom: 20px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
@media only screen and (min-width: 992px) {
  .hero_text {
    width: 44%;
    padding: 0;
    padding-left: 100px;
  }
}

.hero-button {
  font-weight: 400;
  position: absolute;
  left: 50%;
  padding: 10px 20px;
  transform: translateX(-50%);
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
@media only screen and (min-width: 992px) {
  .hero-button {
    left: 18%;
    transform: translate(0);
  }
}

.features {
  padding: 80px 20px;
  background-color: #f3f4f6;
  color: #9698a6;
}
@media only screen and (min-width: 280px) and (max-width: 992px) {
  .features {
    text-align: center;
  }
}
.features .features__grid {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.features .features__grid .feature_item {
  width: 280px;
  padding: 15px;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6875rem;
}

@media only screen and (min-width: 992px) {
  .features--title,
.features--paragraph {
    padding-left: 100px;
  }
}

.features--paragraph {
  margin-bottom: 60px;
}
@media only screen and (min-width: 992px) {
  .features--paragraph {
    width: 700px;
  }
}

.features--title {
  margin-bottom: 20px;
}

.features--title,
.feature_title {
  font-weight: 400;
  color: #2d314d;
}

.features--title {
  font-size: 37px;
  font-size: 2.3125rem;
  line-height: 3.46875rem;
}

.feature_title {
  padding: 20px 0;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 2.25rem;
}

/*# sourceMappingURL=style.css.map */
